@import "card/card.css";
@import "nav/nav.css";
@import "form/form.css";
@import "cta/cta.css";


* {
    padding: 0;
    margin: 0;
}

.main{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}