.cta {
    text-align: center;
}

.cta >p {
 font-family: arial;
 margin: 15px 5px;
}

.cta-btn{
    background-color: #FF0000;
    color: #F0F8FF;
    padding: 6px;
    border: 3px #FF0000 solid;
    border-radius: 15px;
    text-decoration: none;
}

.cta-btn:hover{
    background-color: #F0F8FF;
    border: 2px #000000 solid ;
    color: #FF0000;
    
}