
:root {
    --primary-color: #FF0000;
    --secondary-color:#F0F8FF;
    --text-color: #000000;
    --back-ground-color:#f5f5f5;
    --font-family: arial;
}
.card{
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    border: 3px var(--text-color) solid;
    padding: 2px;
    margin: 15px 10px;
    background-color: var(--back-ground-color);
    align-items: center;
}   

.card-body{
    margin: 15px;
    padding: 10px;
}

.card-title{
    
    font-size: 25px;
    color: var(--text-color);
}
.card-btn{
    
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 6px;
    border: 3px var(--primary-color) solid;
    border-radius: 15px;
    text-decoration: none;
}

.card img {
    width: 98%;
    margin-top: 5px;
   
}

.card-text{
    margin: 35px 0;
}

@media screen and (min-width:768px) {
    .card {
        flex-direction:row;
        width: 80%;
      
    }
    .card img{
        width: auto;
        margin-top: 0;
    }
 }
@media screen and (min-width:992px) {
    .card {
        flex-direction:row;
        width: 46%;
      
    }
    .card img{
        width: auto;
        margin-top: 0;
    }
 }
