
.navbar{
    background-color: rgb(209, 195, 195);
    
}

.navbar-nav{
    
    display: flex;
    flex-direction: column;
    list-style-type: none ;
   
    
}

    


.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}

.nav-item {
    margin: 10px 20px;
    padding: 2px;
}

.nav-item > a{
    text-decoration: none;
    color: #1e1e1e;
    font-family: Source Sans Pro SemiBold;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .64px;
    line-height: 32px;

}
.nav-item > a:hover{
    border-bottom: 2px solid red;
    }


.navbar-logo{
    margin-top: 10px;
    margin-left: 10px;
}
@media screen and (min-width:768px){

    .navbar-nav{
        flex-direction: row;
    }
    .container{
        justify-content: space-between;
    }
    .menu{
        display: none;
    }
}